.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: move 5s 1;
}

@keyframes move {
  0%   {background: red; left: 0px; top: 0px;}
  75%  {background: blue; left: 0px; top: 520px;}
  100% {background: white; left: 0px; top: 530px;}
}